<div ng-init="findAppointmentById()"></div>

<form ng-submit="appointmentRegister()">
	
  <div class="row">
		<div class="col-md-12">			
			<h2>Consultas</h2>
			<p>Cadastrar/Alterar</p>
		</div> 
	</div>

	<div class="row">
		<div class="col-md-12">							
			<label>Data da Consulta</label>
			<input type="text" ng-model="appointment.appointment_date" class="form-control"  ui-date-mask="DD/MM/YYYY" required>							      								     	 
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>Temperatura</label>
			<input type="text" ng-model="appointment.temperature" maxlength="10" class="form-control" ui-number-mask="1">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>FC</label>
			<input maxlength="255" type="text" ng-model="appointment.fc" maxlength="255" class="form-control" >
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>TPC</label>
			<input maxlength="255" type="text" ng-model="appointment.tpc" maxlength="255" class="form-control" >
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>FR</label>
			<input maxlength="255" type="text" ng-model="appointment.fr" maxlength="255" class="form-control" >
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Mucosa</label>
			<input maxlength="255" type="text" ng-model="appointment.mucosa" maxlength="255" class="form-control" >
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Estado Fisico</label>
			<input maxlength="255" type="text" ng-model="appointment.physical_condition" maxlength="255" class="form-control">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Hidratação</label>
			<input maxlength="255" type="text" ng-model="appointment.hydration" maxlength="255" class="form-control">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Data Vermifugo</label>
			<input  type="text" ng-model="appointment.vermifuge_date" class="form-control" ui-date-mask="DD/MM/YYYY">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Data Ultima Vacina Raiva</label>
			<input type="text" ng-model="appointment.rabies_vaccine_date" class="form-control" ui-date-mask="DD/MM/YYYY">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Data Ultima Vacina Polivalente</label>
			<input type="text" ng-model="appointment.multipurpose_vaccine_date" class="form-control" ui-date-mask="DD/MM/YYYY">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Comportamento</label> 
			<span ng-if="behaviorMaxLength" class="small">(Max: {{appointment.behavior.length}} / {{behaviorMaxLength}})</span>
			<textarea id="appointment-text-area" ng-model="appointment.behavior" ng-keyup="textareaBehavior(500)" class="form-control" ></textarea>        
		</div>				          
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>Anamnese</label>
			<span ng-if="anamnesisMaxLength" class="small">(Max: {{appointment.anamnesis.length}} / {{anamnesisMaxLength}})</span>
			<textarea id="appointment-text-area" ng-model="appointment.anamnesis" ng-keyup="textareaAnamnesis(2000)" class="form-control" ></textarea>   				 
		</div>         				         
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>Exames Solicitados</label>
			<span ng-if="examsMaxLength" class="small">(Max: {{appointment.requested_exams.length}} / {{examsMaxLength}})</span>
			<textarea id="appointment-text-area" ng-model="appointment.requested_exams" ng-keyup="textareaExams(500)" class="form-control" ></textarea>   				   
		</div>      
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>Diagnostico</label>
			<span ng-if="diagnosisMaxLength" class="small">(Max: {{appointment.diagnosis.length}} / {{diagnosisMaxLength}})</span><br>
			<textarea id="appointment-text-area" ng-model="appointment.diagnosis" ng-keyup="textareaDiagnosis(2000)" class="form-control" ></textarea>     				 
		</div>       
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label>Proçedimento e Tratamento</label>
			<span ng-if="treatmentMaxLength" class="small">(Max: {{appointment.treatment.length}} / {{treatmentMaxLength}})</span><br>
			<textarea id="appointment-text-area" ng-model="appointment.treatment" ng-keyup="textareaTreatment(2000)" class="form-control" ></textarea>  			    
		</div>         			        
	</div>

	<br>

	<div class="row">
    <div class="col-md-12" align="right">             
      <button type="submit" class="btn btn-primary">
        <div class="glyphicon glyphicon-floppy-saved"></div> 
        Salvar
      </button>       
    </div>
	</div>   
		
</form>