<form ng-submit="animalRegister()">  
 <div class="row">
  <h2>Animais</h2>  
  <p>Cadastrar/Alterar</p>
  <div ng-init="findAnimalById()"></div>   

  <div class="row">    
    <div ng-init="getVets()" class="col-md-12" ng-controller="VetCtrl">        
      <label>Veternário Responsável</label>             
      <select class="form-control" 
              ng-model="$parent.animal.vet_id"                  
              ng-options="vet.id as vet.name for vet in vets">             
        <option value="">--Selecione uma opção--</option>
      </select>         
    </div>             
  </div>

  <div class="row">    
    <div ng-init="getTypes()" class="col-md-12" ng-controller="TypeCtrl">        
      <label>Tipo de Animal</label>     
      <select class="form-control" 
              ng-change="findBreedsByType()" 
              ng-model="$parent.animal.type_id" 
              ng-options="type.id as type.name for type in types"
              ng-controller="BreedCtrl">
        <option value="">--Selecione uma opção--</option>
      </select>        
    </div>             
  </div>
 
  <div class="row">    
    <div ng-init="getBreeds()" class="col-md-12" ng-controller="BreedCtrl">        
      <label>Raça do Animal</label> 
      <select class="form-control" 
              ng-model="$parent.animal.breed_id" 
              ng-options="breed.id as breed.name for breed in breeds">
        <option value="">--Selecione uma opção--</option>
      </select>     
    </div>             
  </div>
  
  <div class="row">
    <div class="col-md-12">    
      <label>Nome</label><br>
      <input type="text" ng-model="animal.name" class="form-control">
    </div>
  </div>

 <div class="row">
    <div class="col-md-12">    
      <label>Alimentação</label><br>
      <input type="text" ng-model="animal.food_types" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">        
      <label>Data de Nascimento/Idade</label>
      <input type="text" ng-model="animal.birth_date" class="form-control">                         
    </div> 
  </div>

  <div class="row">    
    <div class="col-md-12">        
      <label>Sexo</label>          
      <select class="form-control" ng-model="animal.gender">
        <option value="">--Selecione--</option>  
        <option value="1">Macho</option>
        <option value="0">Fêmea</option> 
      </select>
    </div>      
  </div>             

  <div class="row">
    <div class="col-md-12">    
      <label>Peso</label><br>    
      <div class="input-group">
        <input type="text" maxlength="8" ng-model="animal.weight" class="form-control" aria-describedby="basic-addon2" ui-number-mask="1">
        <span class="input-group-addon" id="basic-addon2">KG</span>
      </div>        
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">    
      <label>Coloração</label><br>
      <input type="text" ng-model="animal.color" class="form-control">
    </div>
  </div>

  <div class="row"> 
    <div class="col-md-12">
      <label>Obserções</label><br>
      <textarea style="max-height: 50px;" class="form-control" ng-model="animal.notes"></textarea>        
    </div>
  </div>      
  
  <div class="row">
    <div class="col-md-12" align="right"><br>     
      <button type="submit" class="btn btn-primary">
        <div class="glyphicon glyphicon-floppy-saved"></div> 
        Salvar
      </button>		  		
    </div>
  </div>       
</form>
