
<div class="modal fade" id="owner-animals-modal" tabindex="-1" role="dialog" data-backdrop="static">
<div class="modal-dialog modal-lg" id="modal">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Animais</h4>
    </div>
    <div class="modal-body">
      <div class="animal-list">
        <div class="row" id="animal-list-header">
            <div class="col-md-3">Nome</div>
            <div class="col-md-2">Tipo</div>
            <div class="col-md-2">Raça</div>
            <div class="col-md-3">Veterinário</div>
            <div class="col-md-2" align="right">Opções</div>
        </div>
        <hr>
        <div dir-paginate="a in animalsOfOwner | filter: searchKeyword |itemsPerPage:2 track by $index">
          <div class="row" id="animal-list-body">
              <div class="col-md-3">{{a.name}}</div>
              <div class="col-md-2">{{a.type}}</div>
              <div class="col-md-2">{{a.breed}}</div>
              <div class="col-md-3">{{a.vet}}</div>
              <div class="col-md-2" id="animals-modal-options" align="right">

                <a id="option-icon" 
                   title="Editar Animal"               
                   class="glyphicon glyphicon-pencil btn btn-warning"
                   ng-controller="MainCtrl"
                   ng-click="modalClose()"                 
                   href="#/owner/{{a.owner_id}}/animals/{{a.id}}">
                </a>

                <a id="option-icon" 
                   title="Consultas"                    
                   class="glyphicon glyphicon-check btn btn-info" 
                   ng-controller="MainCtrl"
                   ng-click="modalClose()"    
                   href="#/cadastrarconsulta/{{a.id}}">
                </a>

                <a id="option-icon" 
                   title="Gerar Ficha de Atendimento"                     
                   class="glyphicon glyphicon-list-alt btn btn-success" 
                   ng-controller="MainCtrl"
                   ng-click="modalClose()"    
                   href="#/cadastrarconsulta/{{a.id}}">
                </a>

                <a id="option-icon" 
                   title="Excluir animal" 
                   ng-click="animalRemove(a)" 
                   ng-controller="AnimalCtrl"
                   class="glyphicon glyphicon-remove btn btn-danger" 
                   href="">
                </a>                
              </div>                  
          </div>          
          <div class="panel" id="animal-list-footer">           
            <label align="left">{{a.notes}}</label>  
          </div>
        </div>
        <dir-pagination-controls
          template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html"
          max-size="5"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls> 
      </div>             
    </div>
  </div>
</div>
</div>
