#i {
    color: #000;
}

.animal-list {
    padding: 2%;
}

#animal-list-header {
    font-weight: bold;
    font-size: 14px;
}

#option-icon {
    font-size: 14px;
    margin-top: 3px;
}

#animals-modal-options {    
    line-height: 30px;
    text-align: center;
}