<h2>Consulta Clientes/Animais</h2>      
<div class="col-md-12">       
  <input ng-model="searchKeyword" type="text" class="form-control" placeholder="Pesquisar"> 
</div>               
<br>
<br>
<div ng-init="getOwnersWithAnimals()" ></div>
<table class="table">          
  <th class="col-md-3">Nome</th>  
  <th class="col-md-5">Fone / Celular</th>    
  <th class="col-md-4">Animais</th>                    
  <th colspan="4" class="col-md-1">Informações</th>           
  <tbody>        
    <tr dir-paginate-start="o in ownersWithAnimals | filter: searchKeyword |itemsPerPage:10 track by $index"> 
      <td>{{o.name}}</td>  
      <td>
        <a href="tel:{{o.phone_number}}">{{o.phone_number | phone}}</a> 
        <small ng-if="o.phone_number && o.cell_number">/</small> 
        <a href="tel:{{o.cell_number}}">{{o.cell_number | phone}}</a>
      </td> 
      <td><small style="font-size: 14px;" ng-repeat="a in o.animals"> {{a.name}}{{$last ? '' : ', '}}</small></td>               
        <td>              
          <td>                 
            <a title="Exibir Animais"                
               data-toggle="modal" 
               data-target="#owner-animals-modal" 
               href="#/owner/{{o.id}}/animals">              
              <i id="i" class="fa fa-paw fa-2x" aria-hidden="true"></i> 
            </a>   
          </td>
          <td>                 
            <a title="Cadastrar Animais" href="#/owner/{{o.id}}/animal">                 
              <i id="i" class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>                  
            </a>  
          </td>             
        </td>                       
      <td></td>       
      <tr dir-paginate-end=""></tr>           
  </tbody>    
</table>  
  <dir-pagination-controls
    template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html"
       max-size="5"
       direction-links="true"
       boundary-links="true" >
  </dir-pagination-controls>      
