<!doctype html>
<html ng-app="app">

	  <h2>Consultas</h2>	  
	 <h4 style="color: red; padding: 5px;"> <small style="font-size: 18px; color: black;"><b>Paciente:</b></small> {{animalConsulta}}</h4>	
	 <br>  
	 <center>
	 	<b style="color: red;" ng-if="!consultas">Não existem consultas cadastradas, cadastre abaixo.</b>
	 </center>
   <body class="container-fluid">   
    <div ng-init="listaConsultas()"></div>   
	    <table class="table table-hover">  
	    <thead>
	      <tr>             
	        <th class="col-md-10">Data consulta</th>      
	        <th class="col-md-1"><center>Opções</center></th>
	      </tr >
	    </thead>
	    <tbody dir-paginate="c in consultas | filter: searchKeyword |itemsPerPage:3" >
	         <tr>  	                
	            <td style="vertical-align: middle; font-size: 18px;">
	            	<b>{{c.dataConsulta | dateFilter | date:"dd/MM/YYYY HH:mm"}}</b>	 	            	          	
	            </td> 	            
	              <td> 
	                <center> 
	                <form action="php/pdf/fichaConsulta.php" method="POST" enctype="multipart/form-data">
                                  <input type="text" class="hidden" value="{{consultas.token}}" name="token">   
                                  <input type="text" class="hidden" value="{{c.id}}" name="idConsulta">      
                                  <input type="text" class="hidden" value="{{c.idAnimal}}" name="idAnimal">                                     
                                  <button style="width: 148px; margin-bottom: 2%;" type="submit" class="btn btn-success btn-sm"><div class="glyphicon glyphicon-list"></div> Prontuário </button>                         
                                    </button>
                                </form>                      
	             	  <a style="margin-right: 1%; " href="#/cadastrarconsulta/{{c.idAnimal}}/{{c.id}}"><button  class="btn btn-primary btn-sm"><div class="glyphicon glyphicon-pencil"></div> Editar</button></a> 
	                    <button ng-click="deletarConsulta(c.id)" class="btn btn-danger btn-sm"><div class="glyphicon glyphicon-remove"></div> Excluir</button>                    
	                  </center>                 
	              </td>
	         </tr dir-paginate-end="">
	    </tbody>
	  </table>
		<dir-pagination-controls
		    template-url="vendor/angular-utils-pagination/dirPagination.tpl.html"
		    max-size="5"
		    direction-links="true"
		    boundary-links="true" >
		 </dir-pagination-controls> 	      
	</div>	
	<form ng-submit="cadastrarConsultas()">
		<div ng-init="selecionaConsulta()" class="col-md-12">  				
	 				  
			<div class="row">
				<div class="col-md-2 col-md-offset-5">							
					<center><label>Data da Consulta</label></center>
			        <input type="text" ng-model="consulta.dataConsulta" class="form-control"  ui-date-mask="DD/MM/YYYY">							      								     	 
				   		 </div>	
					</div>
				     <br><br>					
				    <div class="col-md-12">
				     	 <label>Temperatura</label><br>
				         <input maxlength="10" type="text" ng-model="consulta.temperatura" class="form-control" ui-number-mask="1">
				    </div>
				    <div class="col-md-12">
				     	 <label>FC</label><br>
				         <input maxlength="255" type="text" ng-model="consulta.fc" class="form-control" >
				    </div>
				     <div class="col-md-12">
				     	 <label>TPC</label><br>
				        <input maxlength="255" type="text" ng-model="consulta.tpc" class="form-control" >
				    </div>
				     <div class="col-md-12">
				     	 <label>FR</label><br>
				        <input maxlength="255" type="text" ng-model="consulta.fr" class="form-control" >
				    </div>
				     <div class="col-md-12">
				     	 <label>Mucosa</label><br>
				        <input maxlength="255" type="text" ng-model="consulta.mucosa" class="form-control" >
				    </div>
				        <div class="col-md-12">
				     	 <label>Estado Fisico</label><br>
				        <input maxlength="255" type="text" ng-model="consulta.estadoFisico" class="form-control" >
				    </div>
				    <div class="col-md-12">
				     	 <label>Hidratação</label><br>
				        <input maxlength="255" type="text" ng-model="consulta.hidratacao" class="form-control" ">
				    </div>
				     <div class="col-md-12">
				     	 <label>Data Vermifugo</label><br>
				        <input  type="text" ng-model="consulta.dataVermifugo" class="form-control" ui-date-mask="DD/MM/YYYY">
				    </div>
				    <div class="col-md-12">
				     	 <label>Data Ultima Vacina Raiva</label><br>
				        <input type="text" ng-model="consulta.dataVacinaRaiva" class="form-control" ui-date-mask="DD/MM/YYYY">
				    </div>
				        <div class="col-md-12">
				     	 <label>Data Ultima Vacina Polivalente</label><br>
				        <input  type="text" ng-model="consulta.dataVacinaPolivalente" class="form-control" ui-date-mask="DD/MM/YYYY">
				    </div>
					
				    <div class="col-md-12">
				        <label>Comportamento</label><br>
				        <textarea ng-keyup="textareaComportamento(500)" style="max-width: 100%; min-width: 100%; max-height: 70px;" class="form-control" ng-model="consulta.comportamento"></textarea>        
				    </div>				          
				     			     
				    <div class="col-md-12">
				        <label>Anamnese</label><br>
				        <textarea ng-keyup="textareaAnamnese(2000)" style="max-width: 100%; min-width: 100%; min-height: 200px; max-height: 70px;" class="form-control" ng-model="consulta.anamnese"></textarea>   				 
					 </div>         				         
				   
				    <div class="col-md-12">
				        <label>Exames Solicitados</label><br>
				        <textarea ng-keyup="textareaExames(500)" style="max-width: 100%; min-width: 100%; min-height: 200px; max-height: 70px;" class="form-control" ng-model="consulta.examesSolicitados"></textarea>   				   
				    </div>      
				             
				    <div class="col-md-12">
				        <label>Diagnostico</label><br>
				        <textarea ng-keyup="textareaDiagnostico(2000)" style="max-width: 100%; min-width: 100%; min-height: 200px; max-height: 70px;" class="form-control" ng-model="consulta.diagnostico"></textarea>     				 
				    </div>       
				    
				    <div class="col-md-12">
				        <label>Proçedimento e Tratamento</label><br>
				        <textarea ng-keyup="textareaProcedimento(2000)" style="max-width: 100%; min-height: 200px; min-width: 100%; max-height: 70px;" class="form-control" ng-model="consulta.procedimentoTratamento"></textarea>  			    
				    </div>         			        
				 
					<div class="col-md-12">       
					    <center>
						  	<br>
						  	<button type="submit" class="btn btn-primary"><div class="glyphicon glyphicon-floppy-saved"></div> Salvar</button>	
					  	</center> 	
				    </div>

				</div>	
			</form>
		
  </body>
 
</html>



