<div ng-init="getBreeds()"></div>
<div ng-init="findBreedById()"></div>

<form ng-submit="breedRegister()">        
  
  <div class="row">
    <div class="col-md-12">
      <h2>Raças</h2>
      <p>Cadastrar nova raça</p>  
    </div>
  </div>
  
  <div class="row">  
    <div class="col-md-12">      
      <label>Nome</label><br>
      <input type="text" ng-model="breed.name" max="255" class="form-control" required>
    </div>
  </div>

  <div class="row">  
    <div class="col-md-12">                   
      <label>Descrição</label><br>
      <input type="text" ng-model="breed.notes" max="1000" class="form-control">
    </div>
  </div>

  <div class="row">              
    <div ng-init="getTypes()" class="col-md-12">  
      <label>Tipo de Animal</label>               
      <select class="form-control" ng-model="breed.type_id" ng-options="type.id as type.name for type in types" required>
        <option value="">--Selecione uma opção--</option>
     </select>         
    </div>       
  </div>         

  <br>    	  	
 	<div class="row">
    <div class="col-md-12" align="right">            
      <button type="submit" class="btn btn-primary">
        <div class="glyphicon glyphicon-floppy-saved"></div> 
        Salvar
      </button>       
    </div>
  </div>     
</form>        

<p>Raças cadastradas</p>      

<table class="table table-striped">
  <thead>
    <tr>                
      <th class="col-md-3 small">RAÇA</th>   
      <th class="col-md-1 small">TIPO</th>       
      <th class="col-md-6 small">DESCRIÇÃO</th> 
      <th class="col-md-1 small" id="table-options">OPÇÕES</th>
    </tr>
  </thead>
  <tbody >
    <tr dir-paginate="b in breeds | filter: searchKeyword |itemsPerPage:5 track by $index">       
      <td>{{b.name}}</td>      
      <td>{{b.type}}</td>  
      <td>{{b.notes}}</td>                    
      <td id="table-options">      
            
        <a id="option-icon" 
					title="Editar"      
					class="btn btn-warning btn-sm glyphicon glyphicon-pencil"                        
					href="#/breeds/{{b.id}}">           
				</a>    

				<a id="option-icon" 
					title="Excluir"      
					class="btn btn-danger btn-sm glyphicon glyphicon-remove"                        
					ng-click="breedRemove(b.id, b.name)">           
        </a>        
       
      </td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls
  template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html"
  max-size="5"
  direction-links="true"
  boundary-links="true" >
</dir-pagination-controls> 


