#loginForm {
  position: relative;
  width: 600px;
  height: 260px;
  margin: 0 auto;
  background: rgba(130,130,130,.4);
  padding: 20px;
  border: 0px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
}

.vertical-center {    
  margin-top: 10%
       
}

#form input:focus { 
  background-color: rgba(0,0,0,.6); 
  height: 60px;
  color: #fff;
}

#form input[type="text"]
{
  background: rgba(0,0,0,.6);
  border: none;
  border-radius: 0px;
}

#form input[type="number"]
{
  background: rgba(0,0,0,.6);
  border: none;
  border-radius: 0px;
}

#form input[type="password"]
{
  background: rgba(0,0,0,.6);
  border: none;
  border-radius: 0px;
}

#slogan { 
  text-shadow: 0 0 6px black; 
  color: #FFF;   
  width: 20%;
  text-align: justify;
}

.logo {
  animation:glow 10s ease-in-out infinite; 
}



figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}


@keyframes glow {
  0%,100%{ text-shadow:0 0 10px white; }
  40%{ text-shadow:0 0 10px orange; }
  50%{ text-shadow:0 0 10px forestgreen; }
  75%{ text-shadow:0 0 10px cyan; }
}
