<nav id="ocultar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" ng-controller="LoginCtrl">     
      <div class="navbar-header">     
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">         
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="">AnimalStore</a>
      </div>      
      <div class="collapse navbar-collapse" id="js-navbar-collapse">        
        <ul class="nav navbar-nav navbar-right">            
          <li><a ng-click="registerForm()" href=""><div class="glyphicon glyphicon-user"></div> Cadastrar</a></li>
          <li><a ng-click="loginForm()" href=""><div class="glyphicon glyphicon-log-in"></div> Acessar</a></li>
        </ul>       
    </div>
  </div>
</nav>