#sheet-service-table-1>.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #000;
    border-collapse: inherit;    
}

#border-black {
    border-color: #000;
}

#logo {
    font-size: 26px;
    float: left;
}

#date {
    font-size: 26px;
    float: right;
}

#title {
    text-align: center;
    border-top: 1.5px solid #000;
    border-collapse: inherit;
}

#appointment-column { 
    width: 78%;
}

#appointment-xl-row { 
    height: 600px;
}

#appointment-lg-row { 
    height: 300px;
}

#printable-table {
    text-align: justify;
    vertical-align: middle;
}

@media print {
    body {
        margin: 5px;
        padding: 0;
        background-color: #FAFAFA;               
    }

    .page-printable {        
        width: 100%;          
        padding: 0 3% 0 3%;              
    }
    
    @page {
        size: A4;
        margin: 4% 0 0 0;  
               
    }  
}