<div ng-init="getAppointmentSheet()"></div>
<div class="page-printable" id="sheet-service-table-1" ng-repeat="a in appointmentSheet">
  <div class="row">
    <div id="logo" align="left" class="col-md-6">AnimalStore</div>
    <div id="date" align="right" class="col-md-6">{{a.appointment_date | formatDate}}</div>
  </div>
  <br>
  <table class="table table-bordered">
    <tr>
      <th id="title" colspan="2">FICHA DE ATENDIMENTO</th>
    </tr>
    <tr>
      <td>Proprietario:</td>
      <td id="appointment-column">{{a.owner}}</td>
    </tr>
    <tr>
      <td>Data Nascimento:</td>
      <td>{{a.owner_birth | formatDate}}</td>
    </tr>
    <tr>
      <td>CPF:</td>
      <td>{{a.document_number_cpf | cpf}}</td>
    </tr>
    <tr>
      <td>RG:</td>
      <td>{{a.document_number_rg}}</td>
    </tr>
    <tr>
      <td>Endereço:</td>
      <td>{{a.address}}</td>
    </tr>
    <tr>
      <td>Cidade:</td>
      <td>{{a.city}}</td>
    </tr>
    <tr>
      <td>Estado:</td>
      <td>{{a.state}}</td>
    </tr>
  </table>
  <br>
  <table class="table table-bordered">
    <tr>
      <th id="title" colspan="2">DADOS DO PACIENTE</th>
    </tr>
    <tr>
      <td>Nome:</td>
      <td id="appointment-column">{{a.animal}}</td>
    </tr>
    <tr>
      <td>Espécie:</td>
      <td>{{a.type}}</td>
    </tr>
    <tr>
      <td>Raça:</td>
      <td>{{a.breed}}</td>
    </tr>
    <tr>
      <td>Coloração:</td>
      <td>{{a.color}}</td>
    </tr>
    <tr>
      <td>Alimentação:</td>
      <td>{{a.food_types}}</td>
    </tr>
    <tr>
      <td>Nascimento:</td>
      <td>{{a.animal_birth}}</td>
    </tr>
    <tr>
      <td>Sexo:</td>
      <td ng-if="a.gender == 1">Macho</td>
      <td ng-if="a.gender == 0">Fêmea</td>
    </tr>
    <tr>
      <td>Peso:</td>
      <td>{{a.weight | number:1}} KG</td>
    </tr>
  </table>
  <br>

  <table class="table table-bordered">
    <tr>
      <th id="title" colspan="2">CONSULTA</th>
    </tr>
    <tr>
      <td>Temperatura:</td>
      <td id="appointment-column">{{a.temperature}}</td>
    </tr>
    <tr>
      <td>TPC:</td>
      <td>{{a.tpc}}</td>
    </tr>
    <tr>
      <td>FC:</td>
      <td>{{a.fc}}</td>
    </tr>
    <tr>
      <td>FR:</td>
      <td>{{a.fr}}</td>
    </tr>
    <tr>
      <td>Estado Físico:</td>
      <td>{{a.physical_condition}}</td>
    </tr>
    <tr>
      <td>Mucosa:</td>
      <td>{{a.mucosa}}</td>
    </tr>
    <tr>
      <td>Hidratação:</td>
      <td>{{a.hydration}}</td>
    </tr>
    <tr>
      <td>Comportamento:</td>
      <td>{{a.behavior}}</td>
    </tr>
    <tr>
      <td>Data Vermífugo:</td>
      <td>{{a.vermifuge_date | formatDate}}</td>
    </tr>
    <tr>
      <td>Data da Última Vácina de Raiva:</td>
      <td>{{a.rabies_vaccine_date | formatDate}}</td>
    </tr>
    <tr>
      <td>Data da Última Vácina Polivalente:</td>
      <td>{{a.multipurpose_vaccine_date | formatDate}}</td>
    </tr>
    <tr>
      <td id="table-middle">Anamnese:</td>
      <td id="printable-table-text">{{a.anamnesis}}</td>
    </tr>
    <tr>
      <td id="table-middle">Exames Solicitados:</td>
      <td id="printable-table-text">{{a.requested_exams}}</td>
    </tr>
    <tr>
      <td id="table-middle">Diagnóstico:</td>
      <td id="printable-table-text">{{a.diagnosis}}</td>
    </tr>
    <tr>
      <td id="table-middle">Procedimento de Tratamento:</td>
      <td id="printable-table-text">{{a.treatment}}</td>
    </tr>
  </table>
</div>
